<footer class="site-footer">

    <div class="container">
        <h3>{{ site.title }}</h3>
        <div class="footer-container">
            <div>
                <div><emph>Kontakt</emph></div>
                <div>Markus Pilman &amp; Sonja Hohl</div>
                <div><a href="mailto:markus@pilman.ch">E-Mail an Markus</a></div>
                <div><a href="mailto:sonja_hohl@gmx.ch">E-Mail an Sonja</a></div>
            </div>
            <div>
                <div><emph>Trauzeugen</emph></div>
                <div><a href="mailto:jessy@hebed.eu">Jessica Schmid</a></div>
                <div><a href="mailto:michael@pilman.ch">Michael Pilman</a></div>
            </div>
            <div>
                <div><emph>Ort</div>
                <div>Domaine Rennepont en Champagne</div>
                <div>31 Rue Principale</div>
                <div>FR- 52370 Rennepont</div>
                <p/>
                <div><a href="https://www.google.ch/maps/place/Domaine+Rennepont+en+Champagne/@48.1490005,4.8541745,17z/data=!3m1!4b1!4m2!3m1!1s0x47ec59e848dce43b:0xa8a3254566510c9c">Google Maps</a></div>
            </div>
        </div>
    </div>

</footer>
<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
